<div class="main-container">

  <div class="content-center mt-5 ">
    <h5 class="title mb-3 d-none d-md-block d-lg-block">One of it's kind portal of commercial properties.</h5>
    <div class="row m-0 mb-4">
      <div class="col-md-8 m-auto">
        <button mat-raised-button >Office</button>
        <button mat-raised-button  class="ml-3 mr-3">Retail</button>
        <button mat-raised-button >Residential</button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-12">
        <form novalidate="" class="row m-0 search_d ng-untouched ng-pristine ng-valid">
          <div class="form-group col-xl-2 col-md-3"><label _ngcontent-ryp-c27="" for="type">Type</label><select
              id="type" required="" name="type" class="form-control ng-pristine ng-valid ng-touched">
              <option disabled="" selected="">Choose Type</option>
              <option value="Lease">Lease</option>
              <option value="Buy">Buy</option>
            </select></div>
          <div class="form-group col-xl-2 col-md-3"><label _ngcontent-ryp-c27="" for="type">Property Type</label><select
              id="type" required="" name="type" class="form-control ng-pristine ng-valid ng-touched">
              <option disabled="" selected="">Choose Property Type</option>
              <option value="abc-1">abc-1</option>
              <option value="abc-2">abc-2</option>
            </select></div>
          <div class="form-group col-xl-2 col-md-3"><label _ngcontent-ryp-c27="" for="type">City</label><select
              id="type" required="" name="type" class="form-control ng-pristine ng-valid ng-touched">
              <option disabled="" selected="">Choose City</option>
              <option value="City1">City1</option>
              <option value="City2">City2</option>
            </select></div>
          <div class="form-group col-xl-2 col-md-3"><label _ngcontent-ryp-c27="" for="type">Location</label><select
              id="type" required="" name="type" class="form-control ng-pristine ng-valid ng-touched">
              <option disabled="" selected="">Choose Location</option>
              <option value="Location1">Location1</option>
              <option value="Location2">Location2</option>
            </select></div>
          <div class="form-group col-xl-3 col-md-3"><label for="type">Area
              (in sq.ft.)</label><select id="type" required="" name="type"
              class="form-control ng-pristine ng-valid ng-touched">
              <option disabled="" selected="">Choose Area</option>
              <option value="Area1">Area1</option>
              <option value="Area2">Area2</option>
            </select></div>
          <div class="col-1">
              <button   style="margin-top: 32px; float: right;" type="button" mat-mini-fab color="accent" class="d-none d-md-block d-lg-block"aria-label="Example icon button with a menu icon">
                <mat-icon>search</mat-icon>
              </button>
            </div>
        <div class="cd">
            <button type="button" mat-raised-button color="accent" class="btn-block d-block d-md-none d-lg-none"><i
              class="fas fa-search"></i> Search</button>
        </div>
        </form>
      </div>
    </div>
  </div>


</div>
