<mat-sidenav-container class="example-container">

  <mat-sidenav class="mt_sidenave" [ngStyle]="{'width': width  +'%' }" (setWidth)="setWidth ($event) "
    appOpenSidebarOnSwipe #sidenav mode="over" position="end">
    <mat-toolbar class="mt_bar" *ngFor="let item of navList">
      <span> {{item.name}} </span>
    </mat-toolbar>
    <button mat-icon-button class="close_btn" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>

      <p style="margin-right: auto;"> Estate Hub </p>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon> menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-container></app-container>
  </mat-sidenav-content>
</mat-sidenav-container>
